<li class="list-item" data-action="click->sites#edit" data-id="{{ id }}">
  <div class="favicon">
    <img src="{{ favicon }}" alt="{{ label }}" />
  </div>

  <article class="site">
    <h3 class="label">
      {{ label }}
    </h3>

    <p class="url">
      {{ url }}
    </p>
  </article>

  <div class="actions">
    <a href="{{ url }}" class="site" target="_blank" title="Site" >
      <span class="dashicons dashicons-admin-site"></span>
    </a>

    <a href="{{ urlAdmin }}" class="admin" target="_blank" title="Admin">
      <span class="dashicons dashicons-dashboard"></span>
    </a>
  </div>
</li>
