<form class="new-web-page" name="sites" data-action="submit->sites#update">
  <input type="hidden" name="id" value="{{ id }}" />

  <div class="nice-form-group">
    <label for="label">Label</label>
    <input id="label" type="text" name="label" value="{{ label }}" />
  </div>

  <div class="nice-form-group">
    <label for="url">Url</label>
    <input id="url" type="url" name="url" value="{{ url }}" />
  </div>

  <div class="actions">
    <button type="submit">Save</button>
    <button type="reset" data-action="click->sites#cancel">Cancel</button>
  </div>
</form>
